.NavBar {
    display: flex;
    justify-content: space-between;
    height: 50px; 
    background: #008FB8
}

.NavBar button {
    height: 20px;
}

.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.Links2 {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    
}
*{
  font-family: sans-serif;
  text-decoration: none; 
  font-weight: bold; 
}

.chirper {
  background: #008FB8;
  text-align: center; 
  color: white
}

.tlink  {
  padding: 20px; 
}

.link {
  color: white;
}

.session-button { 
  padding: 3px
}

.submit, .logout, .session-button {
  border-radius: 10px; 
  margin-top: 10px; 
  background: #1D60E0;
  height: 30px; 
  width: 70px; 
  color: white;
  font-size: 14px;
}

.submit:hover, .logout:hover, .session-button:hover {
  background: #107CFF;
  cursor: pointer 
}

.logout {
  float: right;  
}

.tweet-links {
  width: 100%; 
}


.chirper {
  padding-top: 1px; 
}

.logout-button {
  padding-right: 20px; 
}

button {
  all: unset;
  color: blue;
  -webkit-text-fill-color: blue;
  cursor: pointer;
  	border: none;
	padding: 5px;
	font: 14px;
	cursor: pointer;
	outline: inherit;

}

button:focus {
  outline: orange 5px auto;
}

.link {
  color: white;
}

a.link {
 padding: 10px; 
}

.t-link {
  display: flex; 
  justify-content: space-around;
}