.NavBar {
    display: flex;
    justify-content: space-between;
    height: 50px; 
    background: #86F9FB
}

.NavBar button {
    height: 20px;
}

.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.Links2 {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    
}
*{
  font-family: sans-serif;
  text-decoration: none; 
  font-weight: bold; 
}

.chirper {
  background: #86F9FB;
  text-align: center; 
}

.tlink  {
  padding: 20px; 
}

.link {
  padding: 20px;
}


.submit, .logout {
  border-radius: 10px; 
  margin-top: 20px; 
  background: lightblue;
  height: 30px; 
  width: 70px; 
}

.submit:hover, .logout:hover {
  background: lightgreen;
  cursor: pointer 
}

.logout {
  float: right;  
}

.tweet-links {
  width: 100%; 
}